.navbar-link{
    text-decoration: none;
    color: black;
    border: none;
}

.verification-text{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.red div:last-child{
    background-color: red;
}
