.none{
  display: none;
}

.comments-item-img-preview{
  position: relative;
  border: 2px solid white;
  height: 100px;
  object-fit: cover;
}

.comments-item-close-svg{
  cursor: pointer;
  position: absolute;
  transform: translate(0);
  top: 0px;
  right: 0;
  margin: 2px 10px;
  font-size: 33px;
}

.comments-item-img-preview-wrap{
  background: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: none;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 25px;
}

.comments-item-create-input-border0 {
  position: relative;
  border: 1px solid black;
  border-radius: 0px;
  background: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
}

.comments-item-create-input {
  position: relative;
  border: 1px solid black;
  border-radius: 0px;
  background: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
}

.comments-item-select-img{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.comments-item-select-img + label {
    font-size: 1.25em;
    font-weight: 700;
}

.comments-item-select-img-svg{
  position: absolute;
  left: 10px;
  top: 0;
  transform: translate(-25%, 25%);
  cursor: pointer;
  margin-left: 4px;
  width: 30px;
  height: 30px;
}

.comments-item-loader{
  position: absolute;
  right: 7px;
  top: 8px;
  width: 28px;
  height: 28px;
  animation-name: circle;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circle{
  0%{transform: rotate(90deg)}
  100% {transform: rotate(180deg)}
}

.comments-wrap{
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  height: 100%;
}

.pagination-block{
  margin-top: 15px;
  display: flex;
  flex-basis: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments-block{
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: auto;
}


.comments-block-editMode{
  margin-top: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.profilesIcon{
  user-select: none;
  border-radius: 18px;
  border: 1px solid rgb(1, 68, 68);
  padding: 3px 8px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(1, 68, 68);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 18px;
  bottom: 15px;
}

.all-profiles-text{
  margin-right: 10px;
  margin-left: 5px;
}

.profilesIcon img{
  width: 32px;
  height: 32px;
}