.gray{
    color: gray;
    cursor: default;
}

.settings-block{
    font-size: 20px;
    border: 1px solid black;
    display: flex;
    height: 100%;
    width: 100%;
}

.settings-confirm-mail button{
    border: 1px solid red;
    color: red;
}

.pick{
    display: flex;
    align-items: center;
    border-left: 2px solid white;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
}

@media (max-width: 576px) {
    ::-webkit-scrollbar { 
        display: none;
    }
}

.settings-block-one{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    flex-basis: 20%;
}

.settings-block-one div{
    margin-bottom: 5px;
}

.settings-block-user-name{
    font-size: 21px;
    font-weight: bold;
    color: rgb(0, 110, 110);
}

.settings-block-user-email{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.settings-block-two-general{
    display: flex;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%;
}

.settings-block-two-settings{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.change-theme-block{
    justify-content: center;
    display: flex;
    align-items: center;
}

.delete-profile-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
}

.settings-block-two-general-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.settings-block-two-general-two button{
    white-space: nowrap;
    width: 110px;
    height: 33px;
}

.settings-avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.settings-confirm-mail{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid;
    color: red;
}

.settings-block-media{
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    
    .delete-profile-block{
        margin-top: 30px;
        display:'flex';
        align-items: center;
    }
    .settings-block-two-settings{
        align-items: center;
    }
}

.settings-changeAvatar{
    border-left: 2px solid rgb(0, 110, 110);
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-color: none;
}

.settings-changeAvatar img{
    display: flex;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
  
.settings-block-avatar-change{
    display: none;
    flex-direction: column;
    height: 150px;
    position: absolute;
    font-size: 13px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.settings-delete-avatar{
    cursor: pointer;
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-top: 2px solid rgb(0, 110, 110);
    border-bottom: 2px solid rgb(0, 110, 110);
    border-left: 2px solid rgb(0, 110, 110);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 15px;
    padding: 4px;

    &:hover{
        opacity: 0.8;
    }
}

.settings-delete-avatar-loading{
    cursor: default;
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-top: 2px solid rgb(0, 110, 110);
    border-bottom: 2px solid rgb(0, 110, 110);
    border-left: 2px solid rgb(0, 110, 110);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 15px;
    padding: 4px;

    &:hover{
        opacity: 0.8;
    }
}

.change-user-settings-button{
    color: black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 15px;
    outline: none;
    border: none;
    padding: 4px;
    background: none;
    border-left: 2px solid rgb(0, 110, 110);
    border-bottom: 2px solid rgb(0, 110, 110);
}

.settings-changeAvatar:hover{
    .settings-block-avatar-change{
        display: flex;
        background: rgb(192, 192, 192);
        opacity: 0.8;
    }
}

.change-user-settings{
    display: flex;
    flex-direction: column;
}

.change-user-settings-one{
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(0, 110, 110);
}

.change-user-settings-two{
    border-bottom: 2px solid rgb(0, 110, 110);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
   
}

.change-user-settings-two-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 8px;
}

.change-user-settings-wrap{
    display: flex;
    border-top: 2px solid rgb(0, 110, 110);
    border-right: 2px solid rgb(0, 110, 110);
    height: 100%;
}

.change-user-settings-wrap-media{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-top: 2px solid rgb(0, 110, 110);
    border-right: 2px solid rgb(0, 110, 110);
    border-left: 2px solid rgb(0, 110, 110);
    height: 100%;

    .settings-changeAvatar{
        border-left: none;
    }

    .change-user-settings-one{
        border-right: none;
    }

    .change-user-settings-button{
        border-left: none;
    }

    .settings-delete-avatar, .settings-delete-avatar-loading{
        border-left: none;
    }

    .change-user-settings-button div{
        writing-mode: horizontal-tb;
        text-orientation: upright;
    }
    .settings-input-fname, .settings-input-lname{
        width: 125px
    }
}

.change-user-settings-button div{
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.change-user-settings-button:hover{
    &:hover{
        opacity: 0.8;
    }
}




